name: Build Linux
  # You may pin to the exact commit or the version.
  # uses: libsdl-org/setup-sdl@f0131347757b3b78ed886b7f0c36b19e26aa2937

          
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: libsdl-org/setup-sdl@v1
    - name: Update packages
      run: sudo apt-get update
      
    - name: Install packages
      run: sudo apt-get install --fix-missing libgl1-mesa-dev libglu1-mesa-dev freeglut3-dev libglew-dev libsdl2-dev
    - name: make
      run: make clean build
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Linux Build
        path: bin

    include-hidden-files: # optional, default is false
          
