name: Build Windows
  # You may pin to the exact commit or the version.
  # uses: libsdl-org/setup-sdl@f0131347757b3b78ed886b7f0c36b19e26aa2937

          
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: libsdl-org/setup-sdl@v1
    - name: Install packages
      uses: ssciwr/setup-mesa-dist-win@v2.0.0
    - name: Download GLEW
      run: |
        Invoke-WebRequest -Uri "https://sourceforge.net/projects/glew/files/glew/2.1.0/glew-2.1.0-win32.zip/download" -OutFile glew.zip
        Expand-Archive -Path glew.zip -DestinationPath glew_extracted

    - name: Copy GLEW Headers and Libraries
      run: |
        Copy-Item glew_extracted\glew-2.1.0\include\GL -Destination .\include -Recurse
        Copy-Item glew_extracted\glew-2.1.0\lib\Release\Win32\glew32.lib -Destination .\lib
        # If using static linking, copy glew32s.lib instead:
        # Copy-Item glew_extracted\glew-2.1.0\lib\Release\Win32\glew32s.lib -Destination .\lib
    - name: Build with Make
      run: make clean winbuild winlauncherbuild
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Windows Build
        path: bin
