name: Build Windows
  # You may pin to the exact commit or the version.
  # uses: libsdl-org/setup-sdl@f0131347757b3b78ed886b7f0c36b19e26aa2937

          
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: SDL2 install
      uses: libsdl-org/setup-sdl@v1
    - name: Install packages
      uses: ssciwr/setup-mesa-dist-win@v2.0.0
    - name: Download GLEW
      run: |
        Invoke-WebRequest -Uri "https://github.com/nigels-com/glew/releases/download/glew-2.2.0/glew-2.2.0-win32.zip" -OutFile glew.zip
        Invoke-WebRequest -Uri "https://github.com/libsdl-org/SDL/releases/download/release-2.32.6/SDL2-devel-2.32.6-mingw.zip" -OutFile sdl2.zip
        Expand-Archive -Path glew.zip -DestinationPath glew_extracted
        Expand-Archive -Path sdl2.zip -DestinationPath sdl2_extracted

    - name: Copy GLEW Headers and Libraries
      run: |
        Copy-Item glew_extracted\glew-2.2.0\include -Destination .\include -Recurse
        Copy-Item sdl2_extracted\SDL2-2.32.6\x86_64-w64-mingw32\include\SDL2 -Destination .\include\SDL2 -Recurse
        Copy-Item sdl2_extracted\SDL2-2.32.6\x86_64-w64-mingw32\lib\SDL2.lib -Destination .\lib\libSDL2.lib
        Copy-Item glew_extracted\glew-2.2.0\lib\Release\Win32\glew32.lib -Destination .\lib\libglew32.lib
        # If using static linking, copy glew32s.lib instead:
        # Copy-Item glew_extracted\glew-2.2.0\lib\Release\Win32\glew32s.lib -Destination .\lib
    - name: Lib Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: slash_lib
        path: lib
      
    - name: Include Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Include Files
        path: include
    - name: Build Launcher
      run: make clean winlauncherbuild
    - name: Launcher Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Windows Launcher
        path: bin
    - name: Build Libraries
      run: make winbuild
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Windows Build
        path: bin
